@charset "UTF-8";
@font-face {
    font-family: 'iDroid';
    src: url(fontes/idroid.otf) format("opentype");
}

*{
    margin: 0;
    padding: 0;
    width: 100%;
}

html{
    background-color: antiquewhite;
}

header{
    background-image: linear-gradient(to bottom, #3cba54, #0f9d58);
    text-align: center;
}

header p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    text-align: left;
    padding: 10px;
}
nav a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.2em;
    padding: 15px;
    display: inline;
    text-decoration: none;
    text-align: left;
}
li{
    list-style: none;
    display: inline;
    margin-right: 15px;
}

main{
    background-color: #fff;
    padding: 20px;
    width: 800px;
    display: block;
    margin: auto;
}

footer{
    background-color: #0f9d58;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
}

h2{
    font-family: 'iDroid', sans-serif;
    font-size: 2.5em;
    color: #0f9d58;
    margin-bottom: 10px;
}

h3{
    font-family: 'iDroid', sans-serif;
    font-size: 1.8em;
    color: #3cba54;
    margin-top: 20px;
    margin-bottom: 10px;
}

main p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1.5em;
}



