@charset "UTF-8";
@font-face {
    font-family: 'iDroid';
    src: url(fontes/idroid.otf) format("opentype");
}

*{
    margin: 0;
    padding: 0;
    width: 100%;
}

html{
    background-color: antiquewhite;
}

header{
    background-image: linear-gradient(to bottom, #3cba54, #0c7c46);
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.534);
}

header p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

nav{
    text-align: left;
    padding: 15px;
}
nav a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.2em;
    padding: 15px;
    display: inline;
    text-decoration: none;
    text-align: left;
}

nav a:hover{
    background-image: linear-gradient(to bottom, #21682e00 ,#21682e);
}

li{
    list-style: none;
    display: inline;
    margin-right: 15px;
}

main{
    background-color: #fff;
    width: 800px;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    margin: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.452);
}

footer{
    background-color: #0f9d58;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
    padding: 30px 0;
}

h2{
    font-family: 'iDroid', sans-serif;
    font-size: 2.5em;
    color: #0f9d58;
}

h3{
    font-family: 'iDroid', sans-serif;
    font-size: 1.8em;
    color: #3cba54;
    margin-top: 20px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #0f9d583d, #ffffff00);
}
p{
    width: 100%;
}

main p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1.5em;
    text-indent: 40px;
}

.frame{
    background-color: #21682e;
    margin-left: -20px;
    padding: 20px 20px;
}

.aprender-mais{
    background-color: #3cba5359;
    border-radius: 25px;
    width: 790px;
}

.aprender-mais > h4{
    background-color: #0c7c46;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5em;   
    display: inline-block;
    padding: 10px;
}

.aprender-mais > p{
    margin: 10px;
    width: 95%;
    text-align: justify;
    margin: auto;
}

.aprender-mais li{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}



